<div class="form-group">

    <button class="btn btn-primary form-control mt-3" (click)="enviar('add')">Agregar Campo</button>
    <button class="btn btn-primary form-control mt-3" (click)="flag=true">Editar Campo</button>
    <div *ngIf="flag">
        <label>Seleccione el campo</label>
        <div class="col-12" *ngIf="cargando">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Cargando...</span>
                </div>
            </div>
        </div>
        <select class="form-control" [(ngModel)]="selecCampo" placeholder="Eliga una opcion" (ngModelChange)="enviarSelect()" *ngIf="!cargando"> 
         <option selected disabled >Eliga una opcion</option>
         <option *ngFor="let campo of campos" [value]="campo.nombre"> {{campo.nombre | uppercase}} </option>
        </select>
    </div>
    <button class="btn btn-primary form-control mt-3" (click)="enviar('delete')">Eliminar Campo</button>
</div>